.artboard-1-12 {
  position: relative;
  width: 39px;
  height: 39px;
  object-fit: cover;
}
.kebab-ngon2 {
  position: relative;
  font-weight: 500;
}
.artboard-1-1-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent20,
.group-wrapper2 {
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  align-items: center;
}
.group-wrapper2 {
  background-color: var(--button-highlight);
  width: 40px;
  height: 40px;
  justify-content: center;
}
.frame-parent20 {
  background-color: var(--background);
  box-shadow: var(--shadow);
  width: 355px;
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-150xl);
  font-size: var(--font-size-mini);
  color: var(--tertiary);
}
.lc {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.frame-child12 {
  position: relative;
  width: 10.41px;
  height: 6.62px;
}
.lc-parent {
  border-radius: var(--br-xl);
  background-color: var(--secondary);
  width: 100px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-34xl);
  color: var(--color-black);
}
.frame-child13 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 77px;
}
.shawarma {
  align-self: stretch;
  font-size: var(--font-size-mini);
}
.ordered,
.s,
.shawarma {
  position: relative;
  font-weight: 500;
}
.ordered {
  align-self: stretch;
  flex: 1;
}
.s {
  opacity: 0.75;
}
.s-parent {
  flex-direction: column;
  padding: 0 var(--padding-8xs);
  gap: var(--gap-11xs);
}
.frame-parent22,
.s-parent,
.shawarma-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent22 {
  flex-direction: row;
  color: var(--paragraph);
}
.shawarma-parent {
  flex: 1;
  height: 62.08px;
  flex-direction: column;
}
.div15,
.group-child7 {
  position: absolute;
  top: 1.99px;
  left: 0.01px;
  width: 28px;
  height: 28px;
}
.div15 {
  top: 0.01px;
  left: 6px;
  font-weight: 500;
  display: inline-block;
  width: 15.27px;
  height: 30.54px;
  transform: rotate(-0.03deg);
  transform-origin: 0 0;
}
.ellipse-parent7 {
  position: relative;
  width: 28.01px;
  height: 30.55px;
}
.frame-parent21,
.group-wrapper3 {
  display: flex;
  align-items: flex-end;
}
.group-wrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--headline-2-size);
  color: var(--background);
}
.frame-parent21 {
  border-radius: var(--br-xl);
  background-color: var(--background);
  width: 355px;
  height: 85px;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-8xs);
}
.group-child13 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 28px;
  height: 28px;
}
.frame-parent19 {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.d29,
.dishes-selected {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 195px;
}
.d29 {
  font-size: var(--font-size-xs);
}
.dishes-selected-parent,
.done-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dishes-selected-parent {
  flex: 1;
  flex-direction: column;
  padding: 0 15px;
}
.done-container {
  border-radius: var(--br-31xl);
  border: 2px solid var(--background);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--background);
}
.customer2-inner,
.frame-parent35 {
  display: flex;
  padding: var(--padding-3xs);
  justify-content: flex-start;
}
.frame-parent35 {
  align-self: stretch;
  flex: 1;
  border-radius: 40px;
  background-color: var(--button-highlight);
  flex-direction: row;
  align-items: center;
  gap: 35px;
}
.customer2-inner {
  position: absolute;
  top: 583px;
  left: 0;
  box-shadow: var(--shadow);
  width: 375px;
  height: 84px;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.customer2 {
  position: relative;
  background-color: var(--background-1);
  width: 100%;
  height: 667px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--headline-stroke-illustration);
  font-family: var(--headline-2);
}
